//Scroll-bar steles
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body::-webkit-scrollbar {
  width: 12px;              
}
  body::-webkit-scrollbar-track {
  background: #434240;        
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(252, 41, 41);    
  border-radius: 20px;      
  border: 3px solid #434240;  
  font-family: 'Roboto', sans-serif !important;
}

//Card Style

.card{
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.spinner__text{
  color: rgb(252, 49, 49);
  padding-right: 10px;
  font-family: 'Anton', sans-serif;
  font-weight: 900;
}

.spinner-border{
  margin-left: 20px;
}