.title{
    margin-top: 50px;
}

.card_popular{
    padding-top: 50px;
    padding-bottom: 80px;
}

span{
    color:black;
}

.title_arrow{
    margin-top: -25px;
}

.sliderPopular{
    font-family: 'Montserrat', sans-serif;

}