.footer{
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: rgb(36, 36, 36);
    background-image: url(../../../public/img/header/bg_header.png);
    padding: 20px 0px;
    bottom: 0;

    
    .main_text_logo{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        padding: 10px 0px;

        span{
            color: white !important;
        }
    }

    .main_href{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px 20px;

        a{
            text-decoration: none;
            margin: 0px 20px;
            color: white !important;
            font-weight: 500;
        }

        a:hover{
            text-decoration: none;
            margin: 0px 20px;
            color: rgb(175, 0, 0) !important;
            font-weight: 500;
        }
    }

    .social_media{
        color: white !important;
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        a{
            margin: 0px 10px;
        }

        a:hover{
            cursor: pointer;
            color: rgb(175, 0, 0) !important;
        }
    }

    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;

        span{
            color: rgb(134, 134, 134);
        }
    }
}